/* Existing styles */

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: black;
    color: white;
}

td {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

tbody tr:hover {
    background-color: #333;
}

/* New styles for the button */
.inventory-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 0.75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 0.25rem;
}

    .inventory-button:hover {
        background-color: #0056b3;
    }

/* New styles for AddInventory and UpdateInventory forms */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

input, button {
    padding: 0.75rem;
    margin: 0.5rem;
    font-size: 1rem;
}

input {
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
}

    button:hover {
        background-color: #218838;
    }

/* Styles for toggle switches */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #28a745;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* Dropdown Styles */
.action-dropdown {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .action-dropdown:focus {
        outline: none;
        border-color: #007bff;
    }

    .action-dropdown:hover {
        background-color: #007bff;
        color: white;
    }
